.column
{
	flex: 25%;
	-ms-flex: 25%;
	position: relative;
}
.column img
{
	vertical-align: middle;
	width: 100%;
}
@media screen and (max-width: 720px)
{
	.column
	{
		flex: 50%;
		max-width: 50%;
		-ms-flex: 50%;
	}
}