@font-face {
    font-family: 'offerings';
    src: url('../font/offerings_regular-webfont.woff2') format('woff2'),
        url('../font/offerings_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* { box-sizing: border-box; padding: 0;}

.spacer { /*This rests behind header to keep content hight correct*/
    width: 100%;
    height: 4.6875rem;
}
span#resume {
    left: 0;
}
span {
    display: inline-block;
    position: fixed;
    height: 3.125rem;
    width: 50%;
    top: 4.6875rem;
    padding: 0.8125rem;
}
#line {
	position: fixed;
    background-color: #fff;
    top: 5.46875rem;
    left: 50%;
    width: 0.125rem;
    height: 1.5625rem;
}
main {
    margin-top: 1.0625rem;
}
div#home_space.spacer {
	height: 7.8125rem;
}

html
{
	font-family: 'offerings';
	font-size: 100%;
	line-height: 1.5rem;
}
header
{
	background-color: #1e1e1e;
	position: fixed;
	top: 0;
	vertical-align: middle;
	width: 100%;
	z-index: 100;
	font-size: 1.2rem;
}
header a{
	color: #fff;
}
div.banner
{
	color: white;
	height: 4.6875rem;
	padding: 1.5rem 0;
	width: 100%;
	text-align: center;
}
#banner2, #banner3
{
	background-color: #505050;
	height: 3.125rem;
	padding: .8rem 0;
}
div.banner img
{
	left: 1rem;
	max-height: 3.125rem;
	max-width: 3.125rem;
	position: fixed;
	top: .8rem;
}
#footer
{
	color: #fff;
	display: inline;
	font-size: 1.2rem;
	left: 0;
	margin: 0 15%;
	position: relative;
	top: 0;
}
div.content
{
	max-width: 23.4375rem;
	padding: 0 5% 0 5%;
	text-align: center;
}
div.content img
{
	width: 99%;
}
p.title
{
	left: 0;
	position: relative;
	top: 0;
}
div.section
{
	background-color: #fff;
	overflow: visible;
	position: sticky;
	top: 9.2%;
	vertical-align: middle;
	width: 100%;
	z-index: 20;
}
div.section p
{
	font-size: 1.3rem;
	margin: -5%;
	padding: 5% 0;
}
a
{
	color: rgb(100, 100, 100);
	text-decoration: none;
	vertical-align: middle;
}
h
{
	font-size: 1.5rem;
}
p
{
	margin: 1rem 0;
}
footer
{
	background-color: #505050;
	height: auto;
	width: 100%;
}
.banner #banner3
{
	bottom: 0;
	position: fixed;
}
footer div.banner
{
	height: 3.125rem;
	padding: 0.75rem;
}
footer .banner a
{
	color: #FFF;
	font-size: 1rem;
	position: inherit;
	text-decoration-line: underline;
}

button a {
    color: #fff;
}