@font-face {
    font-family: 'offerings';
    src: url('../font/offerings_regular-webfont.woff2') format('woff2'),
        url('../font/offerings_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* { box-sizing: border-box; margin: 0; padding: 0;}

html { 
    font-family: 'offerings';
    font-size: 100%;
    line-height: 1.5rem;
}

header { /*Contains both banners*/
    height: fit-content;
    background-color: #1e1e1e;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    margin-bottom: 5%;
}

div.banner { /*Banner 1*/
    color: white;
    height: 4.6875rem;
    width: 100%;
    padding: 1.5rem 0;
}

#banner2, #banner3 { /*Banner 2 (Navbar)*/
    background-color: #505050;
    padding: .8rem 0;
    height: 50px;
}

div.banner img{
    position: fixed;
    top: .8rem;
    left: 1rem;
    max-width: 3.125rem;
    max-height: 3.125rem;
}

#resume, #contact, #footer {
    display: inline;
    top: 0;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    position: relative;
    left: 0;
    margin: 0 15%;
}

.spacer { /*This rests behind header to keep content hight correct*/
    width: 100%;
    height: 5.85rem;
}

#home_spacer { /*This is the spacer designed for the home page, it has a different hight than the content indexes*/
    width: 100%;
    height: 7.8125rem;
}

div.content {
    text-align: center;
    padding: 0 5% 0 5%;
    max-width: 23.4375rem;
}

div.content img {
    width: 100%;
}

p.title {
    position: relative;
    left: 0;
    top: 0;
}

div.section { /*Sticky sub-banner Ex.Yiwen Liang, Kayla Moore*/
    width: 100%;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    position: sticky;
    top: 9.2%;
    overflow: visible;
    z-index: 20;
}

div.section p {
    padding: 5% 0;
    margin: -5%;
    font-size: 1.3rem;
}

a {
    color: rgb(100, 100, 100);
    text-decoration: none;
    vertical-align: middle;
}

h {
    font-size: 1.5rem;
    text-align: center;
}

p {
    margin: 1rem 0;
}

footer {
    width: 100%;
    height: auto;
    background-color: #505050;
    text-align: center;
}

.banner #banner3 {
    position: fixed;
    bottom: 0;
}

footer div.banner {
    height: 50px;
    padding: 0.75rem;
}

footer .banner a {
    text-decoration-line: underline;
    position: inherit;
    font-size: 1rem;
    color: #FFF;
}